*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu_principal{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    /* flex-direction: row; */
    height: 100%; 
    width: 100%; 
    color: #6FA3D8;
    flex-flow: column wrap;
    background-color: blueviolet;
}

.logos{
    border: 0.5px solid white;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}
.logos--imagen{
    height: 290px;
    margin: 50px 30px;
}