{% extends 'base.html' %}
{% load static %}

{% block title %}
    Página principal
{% endblock %}

{% block content %}
<div class="inicio">
    <div id="menu_principal">
        <h1>Bienvenido a INFINITY</h1>
        <p>Aliados para proteger la salud de nuestros usuarios</p>
        <h4>OPCIONES A UN CLIC</h4>
        <p>
            Realiza fácilmente tus procesos con nuestra EPS. ¡Conoce aquí las soluciones virtuales que tenemos especialmente para ti!
        </p>
        <p>
            Organiza pacientes, médicos, citas y personal de forma ágil, segura y eficiente.
        </p>
    </div>

    <section id="submenu">
        <div class="contenedor-imagen">
            <div class="super">
                <h1>¡Puedes aprender desde cualquier lugar!</h1>
                <p>
                    Esta plataforma es virtual y te permite aprender desde tu casa, tu lugar de trabajo o la casa de tus familiares.
                    Tienes acceso a toda la información sin tener que desplazarte.
                </p>
            </div>
        </div>
    </section>
    
</div>
{% endblock %}


