{% extends 'base.html' %}

{% load static %}

{% block title %}
    Listas consultorios
{% endblock %}

{% block content %}

    <h1>Listas consultorios</h1>
    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
    <table>
        <thead>
            <tr>
                <th>Piso</th>
                <th>Número de habitación</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
            {% if consultorios %}
            {% for consultorio in consultorios %}
            <tr>
                <td>{{ consultorio.piso }}</td>
                <td>{{ consultorio.num_habitacion }}</td>
                <td>
                    <a href="{% url 'eliminar_consultorio' consultorio.id %}" onclick="return confirm('¿Realmente desea eliminar estos consultorios')">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
            {% else %}
                <p>No hay consultorios para mostrar</p>
            {% endif %}
        </tbody>
    </table>
{% endblock %}