{% extends 'base.html' %}

{% load static %}

{% block title %}
    Crear Medico
{% endblock %}

{% block content %}

    <h1>Crear Medico</h1>
    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
    
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ formulario.as_p }}
    <button type="submit">Guardar Medico</button>
    <script>
        document.getElementById('id_departamento').addEventListener('change', function () {
            const departamentoId = this.value;
            const url = "{% url 'ajax_cargar_ciudades' %}?departamento_id=" + departamentoId;
            const ciudadSelect = document.getElementById('id_ciudad');

            ciudadSelect.innerHTML = '<option value="">Cargando...</option>';

            fetch(url)
                .then(response => response.json())
                .then(data => {
                    ciudadSelect.innerHTML = '<option value="">Seleccione una ciudad</option>';
                    data.forEach(ciudad => {
                        const option = document.createElement('option');
                        option.value = ciudad.codigo_municipio;
                        option.textContent = ciudad.nombre_ciudad;
                        ciudadSelect.appendChild(option);
                    });
                });
        });
    </script>
{% endblock %}     

