{% extends 'base.html' %}

{% load static %}

{% block title %}
    Listar Médicos
{% endblock %}

{% block content %}
<div class="edicion">
    <h1>Listar Médicos</h1>

    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}

    <table>
        <thead>
            <tr>
                <th>Documento</th>
                <th>Tarjeta Profesional</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Correo</th>
                <th>Fecha de Nacimiento</th>
                <th>Teléfono</th>
                <th>Ciudad</th>
                <th>Dirección</th>
                <th>Imagen</th>
                <th>Especialidad</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
            {% if medicos %}
                {% for medico in medicos %}
                <tr>
                    <td>{{ medico.tipo_doc }} {{ medico.documento }}</td>
                    <td>{{ medico.tarjeta_profesional }}</td>
                    <td>{{ medico.first_name }}</td>
                    <td>{{ medico.last_name }}</td>
                    <td>{{ medico.email }}</td>
                    <td>{{ medico.fecha_nacimiento }}</td>
                    <td>{{ medico.telefono }}</td>
                    <td>{{ medico.ciudad }}</td>
                    <td>{{ medico.direccion }}</td>
                    <td>
                        {% if medico.imagen %}
                            <img src="{{ medico.imagen.url }}" alt="Imagen {{ medico.first_name }}" width="150">
                        {% else %}
                            <img src="{% static 'img/default_user.png' %}" alt="Imagen del médico" width="150"> 
                        {% endif %}
                    </td>
                    <td>{{ medico.especializacion }}</td>
                    <td>
                        <a href="{% url 'eliminar_medico' medico.id %}" onclick="return confirm('¿Realmente desea eliminar este Médico?')">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="12">No hay médicos para mostrar</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}
