{% extends 'base.html' %}

{% load static %}

{% block title %}
    Listas Estado Cita
{% endblock %}

{% block content %}
<div class="edicion">
    <h1>Listas Estado Cita</h1>

    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}

    <table>
        <thead>
            <tr>
                <th>Nombre de Estado</th>
                <th>Descripción</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
            {% if estado_citas %}
                {% for estado_cita in estado_citas %}
                <tr>
                    <td>{{ estado_cita.nombre_estado }}</td>
                    <td>{{ estado_cita.descripcion }}</td>
                    <td>
                        <a href="{% url 'eliminar_estado_cita' estado_cita.id %}" onclick="return confirm('¿Realmente desea eliminar este estado de cita?')">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            {% else %}
                <tr><td colspan="3">No hay datos para mostrar</td></tr>
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}
